<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Declined Order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Roboto'
          rel='stylesheet' type='text/css' />
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>

<div>
    <p>
        Hello Mr/Mrs <span th:text="${firstName}"></span> <span th:text="${lastName}"></span>,
    </p>
    <p>
        We are sorry to say that your order (<span th:text="${orderNumber}"></span>) was declined for the following reaseon:
    </p>
    <b>
        <span th:text="${message}"></span>
    </b>
    <p>
        Thank You, Warehouse Team.
    </p>
</div>

</body>
</html>




